<div class = "section">
    <div class = "content-placement">
        <video width="480" height="270" controls id = "video">
            <source src="/Videos/about-video.mp4" type="video/mp4" >
        </video>
        <div class = "rows">
            <div class = "row">
                <img src="/images/About-me-pic.png" alt="image" id = "about-pic">
            </div>
            <div class="row">
                <p id = "about-p">Hi my name is ASH and im a <br>second year networking and it
                    <br>security student at Ontario Tech <br>University in North Oshawa</p>
            </div>
        </div>
    </div>
</div>