<% include('../partials/Header.ejs') %>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <form class="form" method="POST">
                <div class="form-elements">
                    <label for="name">Name</label>
                    <input type="text" class="elements" id="name" placeholder="Enter User's Name" name="Name" value="<%= user.Name%>" required>
                </div>
                <div class="form-elements mt-3">
                    <label for="Lastname">Last Name</label>
                    <input type="text" class="elements" id="Lastname" placeholder="Enter Users's Lastname" name="Lastname" value="<%= user.Lastname%>" required>
                </div>
                <div class="form-elements mt-3">
                    <label for="ID">User Id</label>
                    <input type="text" class="elements" id="ID" placeholder="Enter User's id number" name="UserId" value="<%= user.UserId%>" required>
                </div>
                <button class="btn" type="submit">Submit</button>
                <a href="/userlist" class="btn"> Cancel</a>
            </form>
        </div>
    </div>
</div>


<% include('../partials/Footer.ejs') %>
